{% extends "layout.html" %}

{% block body %}
  <h1 class="display-3">Videogame backlog app</h1>
  <blockquote class="blockquote" style="max-width: 700px;">
    <p class="mb-0"><a href="https://en.wikipedia.org/wiki/Backlog">Backlog</a>, a thing that is essential for maintaining
    your tasks that need to be done. I myself am very bad at keeping up with videogames that I want to play so
    I decided that the prefect course project would be a videogame backlog. Hopefully this application proves
    to be some use to someone. In truth a backlog is probably something that is more easily maintained in a
    spreadsheet, but a sufficiently advanced application can prove to be even more useful!</p>
    <footer style="margin-top:20px" class="blockquote-footer">Olli Keski-Hynnilä</footer>
  </blockquote>
{% endblock %}
