{% extends "layout.html" %}
  
{% block body %}
    <h1 class="display-3">{{game.name}}</h1>
    <h4>Genre: {{game.genre}}</h4>
    <h4>Released: {{game.releaseyear}}</h4>
    <h4>Developer: {{developer.name}}</h4>
    <button type="button" class="btn btn-link" style="background-color:#e3e5e8">
        <a href="https://en.wikipedia.org/wiki/{{game.name}}">Wikipedia</a> 
    </button>
    {% if current_user.is_authenticated and "ADMIN" in current_user.roles() %}
    <a href="/games/{{game.id}}/edit">Edit this entry</a>
    <form action="{{ url_for('game_delete', game_id=game.id) }}" method="POST">
      <input type="submit" value="Delete entry for {{game.name}}"/>
    </form>
    {% endif %}
{% endblock %}