{% extends "layout.html" %}

{% block body %}
{{ error }}
<h3>List of games by user {{ user.name }}</h3>
  <table class="table table-sm" style="max-width:1200px">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Game</th>
        <th scope="col">Release year</th>
        <th scope="col">Genre</th>
        <th scope="col">Developer</th>
      </tr>
    </thead>
    <tbody>
    {% for game in games %}
      <tr>
        <td>{{ game.name }}</td>
        <td>{{ game.releaseyear }}</td>
        <td>{{ game.genre }}</td>
        <td>{{ dev[game.developer_id-1].name }}</td>
        <td><form action="{{ url_for('user_delete_game', user_id=current_user.id, game_id=game.id) }}" method="POST">
            <button class="btn btn-danger" style="width:80px" type="submit">Remove</button>
        </form></td>  
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}